@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <SupervisorNavMenu />
    </div>

    <main>
        <Toprow />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
