@page "/admin/clusters/add"
@inject UnitOfWork unitOfWork;
@layout AdminLayout
<PageTitle>Add Cluster</PageTitle>

<h3>Add Cluster</h3>
<br/>

<input type="text" @bind-value=Cluster.ClusterName placeholder="Cluster Name">
<input type="button" value="Post" @onclick="Post">

@code
{
    public ClusterModel Cluster;
    protected override async Task OnInitializedAsync()
    {
        Cluster = new();
    } 

    public async void Post()
    {
        try
        {
            await unitOfWork.AddCluster(Cluster);
        }
        catch (Exception)
        {
            return;
        }
    }
}